.header-container {
  display: flex;
  flex-direction: column;
  padding: 20px 80px;
  align-items: center;
  justify-content: center;
}

.header-container h4 {
  margin: 35px auto !important;
}

.search-container {
  width: 50%;
}

.search-input {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.625;
  background-color: #eee;
  border: 0px;
  border-radius: 32px;
  width: 100%;
  padding: 15px;
  cursor: auto;
}

.search-icon {
  position: absolute;
  top: 5%;
  left: 70%;
}

.filter-container {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.filter-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.filter-item p {
  padding-right: 10px;
  font-size: 15px;
  font-weight: bold;
}
